<%
  event_schedule = Schedule.new("1MD-NY0ssvOmF2qjRtfVKYlHDIgxva5-xQ10dxv-dG-Q", 0)
  current_time = Time.now
  hackathon_start_date = Date.new(2020, 2, 29)
%>
<% sections = event_schedule.sections %>
<div id="schedule" class="hash-anchor"></div>
<div class="section section--white">
  <div class="section__content">
    <h2 class="pull-into-squig">Schedule</h2>
    <% if sections.blank? %>
      <p><strong><span class="fa fa-clock-o icon-space-r"></span>Schedule temporarily unavailable - please check back later!</strong></p>
      <br/>
    <% else %>
      <div class="split">
        <% schedule_day_offset = -1 %>
        <% sections.each do |section| %>
          <% day_title = section.shift %>
          <% schedule_day_offset += 1 if day_title.present? %>
          <% section_date = hackathon_start_date + (schedule_day_offset * 1.day) %>
          <div class="split__section split__section--wide">
            <h3 class="h2--like"><%= day_title %></h3>
            <% section.each do |row| %>
              <%
                time, title, location, desc = row # row[0], [1], [2], and [3]
                parsed_time = Time.zone.parse("#{section_date.to_s} #{time}")
                parsed_time += 30.minutes
                style = ''
                if parsed_time < current_time
                  style = 'opacity: 0.4;'
                end
              %>
              <% if time.present? %>
                <p class="margin-after" style="<%= style %>"><strong><%= time %></strong> - <%= title %></p>
              <% else %>
                <p class="margin-after" style="<%= style %>"><em><%= title %></em></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>