<%
  google_maps_link = "https://www.google.com/maps/place/RIT+MAGIC+Spell+Studios/@43.0856994,-77.678371,17z/data=!4m5!3m4!1s0x89d14c5efa73af21:0x612bf519a5022737!8m2!3d43.0856994!4d-77.6761823"
  event_is_over = false
  registration_is_open = true
%>

<div class="section section--gradient section--top">
  <div class="section__content section__content--top">
    <div class="logo clear-fix">
      <%= image_tag("wic-hacks-logo-white-test.png", class:"logo__image logo-box")%>

      <div class="logo__date">
        <div class="logo-box logo-box--no-top-border logo__date-month">
          <ul>
            <li class="logo__date--more-spacing">February</li>
            <li>29-March 1</li>
          </ul>
        </div>
        <div class="logo-box logo-box--no-top-border logo-box--no-left-border logo__date-year">
          2020
        </div>
      </div>
    </div>
    <% if event_is_over %>
      <div class="cta-text">WiCHacks was a blast! See you next year.</div>
    <% end %>
    <div class="cta-button__wrapper">
      <% if registration_is_open %>
        <%= link_to 'https://apply.wichacks.io', class: 'cta-button' do %>
          Apply Now<span class="fa fa-chevron-right icon-space-l cta-button__icon"></span>
          <div class="cta-button__mlh-usage">
            Using <%= image_tag 'my-mlh.svg', alt: 'MyMLH', class: 'cta-button__mlh-usage-image' %>
          </div>
        <% end %>
      <% end %>
      <% if event_is_over %>
        <%= link_to "https://wichacks2019.devpost.com/submissions", class: 'cta-button' do %>
          Submissions<span class="fa fa-chevron-right icon-space-l cta-button__icon"></span>
        <% end %>
      <% elsif !registration_is_open %>
        <%= link_to "https://wichacks2019.devpost.com/", class: 'cta-button' do %>
          Submit to Devpost<span class="fa fa-chevron-right icon-space-l cta-button__icon"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="about" class="hash-anchor"></div>
<div class="section section--white section--white-purple-shadow">
  <div class="section__content">
    <h2 class="pull-into-squig">About</h2>
    <div class="split">
      <div class="split__section">
        <p class="margin-after">WiCHacks is an <strong>all-female and non-binary 24-hour hackathon</strong> hosted by Women in Computing at RIT. A hackathon is a collaborative programming event in which participants create an app, website, game, or other piece of software over the course of the event.</p>
        <p><strong>This event is open to all skill levels:</strong> from students who haven't programmed at all, to the best programmers out there, it will be a great day to learn, invent, and create the future!</p>
      </div>
      <div class="split__section">
        <iframe class="video margin-after" src="https://www.youtube.com/embed/OxlXmc-jViI?rel=0&amp;showinfo=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
        <p class="margin-after">More Coverage:</p>
        <p>
          <a href="https://theithacan.org/news/women-in-computing-team-wins-award-for-community-service-app/" target="_blank">The Ithacan</a>
          &ndash;
          <a href="http://13wham.com/news/local/all-girl-hackathon-at-rit-highlights-growing-interest-of-coding-among-women" target="_blank">13WHAM</a>
          &ndash;
          <a href="https://stories.mlh.io/community-roundup-empowering-safety-security-and-diversity-caaf07022edc" target="_blank">MLH Stories</a>
        </p>
      </div>
    </div>
<!--        <h2 class="pull-into-squig" style="margin-top:100px">Keynote Speaker</h2>
          <br>
        <div class="split">
          <div class="split__section">
            <%= image_tag 'keynote.jpg', class: 'box__image', alt: 'Annette Warren' %>
              <h3>Annette Warren</h3>
              <h4>President iSECURE, LLC</h4>
          </div>
          <div class="split__section">
              <p>Annette Warren is the President iSECURE, LLC a Cyber Security company based out of Rochester, NY that is listed as one of the Top 100 Company’s in Rochester.  A lifelong entrepreneur, with a business degree and experience in her family’s business, led her to the technology industry in the late 1990s. As a partner, alongside her husband, Annette helped pioneer an ISP and VoIP company when there were very few women visible in technical leadership roles. Annette’s determination and perspective allowed her to find creative ways to deliver go to market strategies for cutting edge technologies in a fast paced and ever evolving technical environment.</p>
          </div>
        </div>-->
  </div>
</div>

<div id="info" class="hash-anchor"></div>
<div class="section section--purple white-text">
  <div class="section__content">
    <h2 class="pull-into-squig">Essential Info</h2>
    <div class="split">
      <div class="split__section">
        <h3>Location</h3>
        <p class="margin-after">Magic Spell Studios<a href="<%= google_maps_link %>"><span class="fa fa-external-link icon-space-l"></span></a><br />Rochester Institute of Technology</p>
        <div id="map" class="map margin-after"></div>
      </div>
      <div class="split__section">
        <h3>Date</h3>
        <p>February 29-March 1, 2020</p>
        <p>&nbsp;</p>
        <h3>Getting There</h3>
        <p class="margin-after">For driving directions, RIT provides info on <a href="http://www.rit.edu/emcs/admissions/visit/info/getting-to-rit">getting to RIT</a>.</p>
        <!--<p>Busses are being provided to Buffalo, Brockport, Waterloo, Cornell,  Binghamton, Syracuse and Oswego. You <strong>must</strong> RSVP to garuntee a seat on the bus.</p>-->
        <p>&nbsp;</p>
        <h3>Eligibility</h3>
        <p>All attendees must be female or non-binary identifying students currently enrolled at a college/university and are 18 years or older.</p>
      </div>
    </div>
  </div>
</div>

<!--<%= render 'schedule' %>-->

<div id="faq" class="hash-anchor"></div>
<div class="section section--purple white-text">
  <div class="section__content">
    <h2 class="pull-into-squig">FAQs</h2>
    <div class="box__wrapper">
      <div class="box box--inverted box--animates">
        <div class="box__inner">
          <div class="box__display">I identify as male. Can I participate?</div>
        </div>
        <div class="box__inner">
          <div class="box__description">
            While males cannot participate as hackers, we'd love to have you as a volunteer! You can sign up <a href="https://docs.google.com/forms/d/e/1FAIpQLScBcmjjMTaOYBXB04uRM77UdF9Ex2NjY5QHBurKrBm8E6vxEw/viewform">here</a>.
          </div>
        </div>
      </div>
      <div class="box box--inverted box--animates">
        <div class="box__inner">
          <div class="box__display">Will you reimburse for travel?</div>
        </div>
        <div class="box__inner">
          <div class="box__description">
            We are unable to provide travel reimburstment.
          </div>
        </div>
      </div>
      <div class="box box--inverted box--animates">
        <div class="box__inner">
          <div class="box__display">Can high schoolers participate?</div>
        </div>
        <div class="box__inner">
          <div class="box__description">
            Not this year but check back next year! All participants must have a college ID and be over 18.
          </div>
        </div>
      </div>
      <div class="box box--inverted box--animates">
        <div class="box__inner">
          <div class="box__display">What should I bring to WiCHacks?</div>
        </div>
        <div class="box__inner">
          <div class="box__description">
            Your laptop, chargers, and anything else you want to hack on, along with anything for staying overnight!
          </div>
        </div>
      </div>
      <div class="box box--inverted box--animates">
        <div class="box__inner">
          <div class="box__display">Does this event cost anything?</div>
        </div>
        <div class="box__inner">
          <div class="box__description">
            Nope! The event is completely free. Be sure to apply in advance to guarantee a spot.
          </div>
        </div>
      </div>
      <div class="box box--inverted box--animates">
        <div class="box__inner">
          <div class="box__display">How will I find a team to work with?</div>
        </div>
        <div class="box__inner">
          <div class="box__description">
            If you don't have a team yet, don't fret! There will be a team-formation session immediately after the kick-off.
          </div>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="text-center"><strong>Question unanswered?</strong><br class="visible-mobile-only" /> Email us at <a href="mailto:wic.hacks.rit@gmail.com">wic.hacks.rit@gmail.com</a></strong></p>
  </div>
</div>

<div id="sponsors" class="hash-anchor"></div>
<div class="section section--white">
  <div class="section__content section__content--last">
    <h2 class="pull-into-squig">Sponsors</h2>
    <p>&nbsp;</p>
    <div class="box__wrapper">



      <div class="box box--noborder box--variable box--double">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="https://www.northropgrumman.com/">
            <%= image_tag 'sponsors/northrop.jpg', class: 'box__image',  alt: 'Northrop Grumman'%>
          </a>
        </div>
      </div>

      <div class="box box--noborder box--variable box--double">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="https://www.wegmans.com/">
            <%= image_tag 'sponsors/wegmans.jpg', class: 'box__image', alt: 'Wegmans' %>
          </div>
        </a>
      </div>



      <div class="box box--noborder box--variable box--double">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="https://www.jpmorganchase.com/">
            <%= image_tag 'sponsors/jpmorgan.png', class: 'box__image', alt: 'JP Morgan' %>
          </a>
        </div>
      </div>





    </div>

    <div class="box__wrapper">

      <div class="box box--noborder box--variable box--small-triple">
      <div class="box__inner">
        <a class="box__display box__display--logo" href="https://www.gartner.com/en">
          <%= image_tag 'sponsors/gartner.png', class: 'box__image', alt: 'Gartner' %>
        </div>
      </a>
    </div>

      <div class="box box--noborder box--variable box--small-triple">
      <div class="box__inner">
        <a class="box__display box__display--logo" href="https://cloudcheckr.com/">
          <%= image_tag 'sponsors/CloudCheckr.jpg', class: 'box__image', alt: 'CloudCheckr' %>
        </div>
      </a>
    </div>

      <div class="box box--noborder box--variable box--small-triple">
      <div class="box__inner">
        <a class="box__display box__display--logo" href="https://www.mtb.com/home-page">
          <%= image_tag 'sponsors/mtbank.png', class: 'box__image', alt: 'M&T Bank' %>
        </div>
      </a>
    </div>

      <div class="box box--noborder box--variable box--small-triple">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="https://www.l3harris.com/">
            <%= image_tag 'sponsors/L3Harris.jpg', class: 'box__image',  alt: 'L3Harris' %>
          </div>
        </a>
      </div>

      <div class="box box--noborder box--variable box--small-triple">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="https://www.microsoft.com/en-us/">
            <%= image_tag 'sponsors/microsoft.png', class: 'box__image',  alt: 'Microsoft' %>
          </div>
        </a>
      </div>
      <div class="box box--noborder box--variable box--small-triple">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="https://www.ultimatesoftware.com/">
            <%= image_tag 'sponsors/ultimatesoftware.png', class: 'box__image', alt: 'Ultimate Software' %>
          </a>
        </div>
      </div>
      <div class="box box--noborder box--variable box--small-triple">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="https://www.libertymutual.com/">
            <%= image_tag 'sponsors/libertymutual.png', class: 'box__image', alt: 'Liberty Mutual' %>
          </a>
        </div>
      </div>

      <div class="box box--noborder box--variable box--small-triple">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="https://about.google/">
            <%= image_tag 'sponsors/google.png', class: 'box__image', alt: 'Google' %>
          </a>
        </div>
      </div>

      <div class="box box--noborder box--variable box--small-triple">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="https://www.indeed.com/">
            <%= image_tag 'sponsors/indeed.jpg', class: 'box__image', alt: 'Indeed' %>
          </a>
        </div>
      </div>

      <div class="box box--noborder box--variable box--small-triple">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="https://www.blackbaud.com/">
            <%= image_tag 'sponsors/blackbaud.png', class: 'box__image', alt: 'Blackbaud' %>
          </a>
        </div>
      </div>

      <div class="box box--noborder box--variable box--small-triple">
        <div class="box__inner">
          <a class="box__display box__display--logo" href="http://hackp.ac/mlh-stickermule-hackathons">
            <%= image_tag 'sponsors/stickermule.jpg', class: 'box__image', alt: 'Sticker Mule' %>
          </a>
        </div>
      </div>







    </div>

    <!---end of sponsorsers-->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="text-center">
      <strong>Is your company interested in sponsoring WiCHacks?</strong>
      We would love to talk to you! Please email
      <a href="mailto:wic.hacks.rit@gmail.com">wic.hacks.rit@gmail.com</a>
      for more information, or view our <%= link_to '2020 information packet', image_path('2020WiCHacksSponsorLetter.pdf') %>.
    </p>
    </h6>
  </div>
</div>

<div class="section section--pattern">
  <div class="section__content section__content--bottom">
    <p class="footer-content">Organized by <a href="http://wic.rit.edu">Women in Computing</a> &nbsp;&ndash;&nbsp; Source on <a href="https://github.com/women-in-Computing-at-RIT/wichacks.io">GitHub</a> &nbsp;&ndash;&nbsp; <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a></p>
  </div>
</div>

<!-- Setup map -->
<script>
  function CenterControl(controlDiv, map) {
    // Set CSS for the control border.
    var controlUI = document.createElement('div');
    controlUI.style.backgroundColor = '#fff';
    controlUI.style.border = '2px solid #fff';
    controlUI.style.borderRadius = '3px';
    controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
    controlUI.style.cursor = 'pointer';
    controlUI.style.marginTop = '5px';
    controlUI.style.marginRight = '5px';
    controlUI.style.textAlign = 'center';
    controlUI.title = 'Click to view map on Google Maps';
    controlDiv.appendChild(controlUI);

    // Set CSS for the control interior.
    var controlText = document.createElement('div');
    controlText.style.color = '#3a84df';
    controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
    controlText.style.fontSize = '11px';
    controlText.style.lineHeight = '16px';
    controlText.style.paddingLeft = '5px';
    controlText.style.paddingRight = '5px';
    controlText.style.cursor = 'pointer';
    controlText.innerHTML = 'View larger map';
    controlUI.appendChild(controlText);

    // Setup the click event listeners: simply set the map to Chicago.
    controlUI.addEventListener('click', function() {
      window.open('<%= google_maps_link %>');
    });
  }

  function initMap() {
    var location = {lat: 43.085817, lng: -77.676193};
    var center = {lat: 43.0846346, lng: -77.6765977};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: center,
      disableDefaultUI: true,
      zoomControl: true,
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });

    // Create the DIV to hold the control and call the CenterControl()
    // constructor passing in this DIV.
    var centerControlDiv = document.createElement('div');
    var centerControl = new CenterControl(centerControlDiv, map);

    centerControlDiv.index = 1;
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(centerControlDiv);
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4N8LhHBv2LA3hlirMq-Kagsv5lAjRi70&callback=initMap"></script>
