= render 'banner'

.text.small-12.small-centered.medium-10.small-centered.columns

  .divider
  #thats-all-folks.section
    %h2 WiCHacks 2017
    %p
      WiCHacks17 was awesome!
      To see the cool projects that were made during the hackathon, check out the official
      = succeed "!" do
        %a{ href: "https://wichacks2017.devpost.com/submissions/" }
          DevPost
      Curious about attending a hackathon? Take a look at these pictures from WiCHacks17 to paint a better picture of the event!
    %ul
      %li
        %a{ href: "https://www.facebook.com/wic.hacks.rit/posts/1204587552987423" } WiCHacks 2017
      %li
        %a{ href: "https://www.facebook.com/pg/MajorLeagueHacking/photos/?tab=album&album_id=1392712220779452" } MLH WiCHacks Photos
    %h3
      Want to keep up with the plans for WiCHacks 2018? Sign up
      = succeed "!" do
        %a{ href: "https://docs.google.com/a/g.rit.edu/forms/d/1m9iiJHQfPDUsvzSHVKbVS4ROC8WTn_kIe1qYK5D0mAo" } here
    %h3
      Interested in sponsoring? Check out our
      = link_to '2018 Sponsorship Info »', image_path('WiCHacksSponsorLetter18-1.pdf')
  #intro.divider
  .section
    %h1 Calling all women!
    %ul.large
      %li Are you creative?
      %li Do you want to network with other creative women?
      %li Do you want to create technology innovations?
      %li Do you want to help solve world problems and make a difference?
      %li Do you want to have fun and try something new?
    %p.large
      If you answered yes to any of the above questions, join RIT Women in
      Computing at
      = succeed "!" do
        %b Newbie Track is TBD. WiCHacks on TBD at RIT
  .row
    .medium-3.centered
      %h5 In partnership with:
      %a{ href: "https://mlh.io/" }
        = image_tag 'mlh-logo.png', alt: "MLH Logo"
  #about.divider
  .section
    %h2 About WiCHacks
    %p
      WiCHacks is an all women 24-hour hackathon hosted by Women in Computing at RIT. A
      %b hackathon
      is a collaborative programming event in which participants create an app, website, game, or other piece of software over the course of the event.  Hackathon participants can be female college (including non-RIT) or high school students who are at least 16 years of age.
    %p
      %b> This event is open to women of all skill levels
      \: those who haven’t programmed at all, women who have done some programming, and the best women programmers out there. It will be a great day to learn, invent, and create the future.  Don’t have a team in mind?  No worries -- RIT Women in Computing will be hosting a series of events (including one on the morning of the event) to facilitate team formation.
      %b All meals (breakfast, lunch, dinner, and snacks) will be provided, and participation is free.
    %p
 #press.divider
  .section
    %h2 Press
    %ul
      %li
        %a{ href: "https://www.youtube.com/watch?v=B5Yg08AZxv4&feature=youtu.be" } RIT on TV: WiCHacks 2017
      %li
        %a{ href: "http://foxrochester.com/news/good-day-rochester/rit-women-in-computings-free-hackathon" } WiCHacks on Fox Rochester
      %li
        %a{ href: "http://13wham.com/news/local/rit-hosts-annual-hack-a-thon" } RIT Hosts Local Hack-a-thon
      %li
        %a{ href: "http://www.rochesterfirst.com/news/local-news/rit-holds-wic-hacks-competition/663265505" } RIT holds WiC-hacks competition
        
        #sponsors.divider
        .section
          %h2 Sponsors
          %p
            %b Is your company interested in sponsoring WiCHacks?
            We would love to talk to you about sponsoring WiCHacks!
            Please email
            %a{ href: "mailto:wic.hacks.rit@gmail.com" } wic.hacks.rit@gmail.com
            for more information.
          %h6
            = link_to '2018 Sponsor Information »', image_path('WiCHacksSponsorLetter18-1.pdf')
      #partners.divider
      .section
        }

= render 'copyright'
