= render 'banner'

.text.small-12.small-centered.medium-10.small-centered.columns

  .divider
  #thats-all-folks.section
    %h2 WiCHacks 2017
    %p
      WiCHacks17 was awesome!
      To see the cool projects that were made during the hackathon, check out the official
      = succeed "!" do
        %a{href: "https://wichacks2017.devpost.com/submissions/"}
          DevPost
    %ul
      %li
        %a{href: "https://www.facebook.com/wic.hacks.rit/posts/1204587552987423"} WiCHacks 2017
      %li
        %a{href: "https://www.facebook.com/pg/MajorLeagueHacking/photos/?tab=album&album_id=1392712220779452"} MLH WiCHacks Photos
  #intro.divider
  .section
    %h1 Calling all women!
    %ul.large
      %li Are you creative?
      %li Do you want to network with other creative women?
      %li Do you want to create technology innovations?
      %li Do you want to help solve world problems and make a difference?
      %li Do you want to have fun and try something new?
    %p.large
      If you answered yes to any of the above questions, join RIT Women in
      Computing at
      = succeed "!" do
        %b Newbie Track is on Friday, February 24th. WiCHacks on Saturday and Sunday, February 25th and 26th, 2017 at RIT
  .row
    .medium-3.centered
      %h5 In partnership with:
      %a{href: "https://mlh.io/"}
        = image_tag 'mlh-logo.png', alt: 'MLH Logo'
  #about.divider
  .section
    %h2 About WiCHacks
    %p
      WiCHacks is an all women 24-hour hackathon hosted by Women in Computing at RIT. A
      %b hackathon
      is a collaborative programming event in which participants create an app, website, game, or other piece of software over the course of the event.  Hackathon participants can be female college (including non-RIT) or high school students who are at least 16 years of age.
    %p
      %b> This event is open to women of all skill levels
      \: those who haven’t programmed at all, women who have done some programming, and the best women programmers out there. It will be a great day to learn, invent, and create the future.  Don’t have a team in mind?  No worries -- RIT Women in Computing will be hosting a series of events (including one on the morning of the event) to facilitate team formation.
      %b All meals (breakfast, lunch, dinner, and snacks) will be provided, and participation is free.
    %p
      New to programming? Join our
      %a{href: "#newbie"}
        %strong Newbie Track!
      The Newbie Track runs right along with the hackathon and teaches basic programming skills to those who have little to no programming experience.
    %p All hackers and newbies who participate in the hackathon will have the opportunity to upload their resume to our resume database that will be shared with all of our sponsors!
  #newbie.divider
  .section
    %h2 Newbie Track
    %p A Newbie is a future programmer who wants to learn about coding and acquire the basics of a programming language. This track is for students who want to be involved in the hackathon but have no programming experience. This will give students the opportunity to learn how to code and produce a project over the course of the hackathon. The Newbie Track will cover Web Development featuring HTML, CSS, and Javascript!
  #press.divider
  .section
    %h2 Press
    %ul
      %li
        %a{href: "https://www.youtube.com/watch?v=B5Yg08AZxv4&feature=youtu.be"} RIT on TV: WiCHacks 2017
      %li
        %a{href: "http://foxrochester.com/news/good-day-rochester/rit-women-in-computings-free-hackathon"} WiCHacks on Fox Rochester
      %li
        %a{href: "http://13wham.com/news/local/rit-hosts-annual-hack-a-thon"} RIT Hosts Local Hack-a-thon
      %li
        %a{href: "http://www.rochesterfirst.com/news/local-news/rit-holds-wic-hacks-competition/663265505"} RIT holds WiC-hacks competition
  #faqs.divider
  .section
    %h2 Frequently Asked Questions
    %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
      %li.faq
        .faq-inner
          %h5 What is the cost of the event?
          %p
            This is event is free, but all participants must register
            = succeed "." do
              %a{href: "https://wichacks2017.eventbrite.com/"} here
      %li.faq
        .faq-inner
          %h5 Will there be food served?
          %p A continental breakfast, lunch, and dinner will be provided, as well as snacks throughout the day. The hackathon will be taking place adjacent to Global Village at RIT, so participants will also be able to purchase food from various dining services at RIT.
      %li.faq
        .faq-inner
          %h5 I am a boy.  Can I participate in this event?
          %p
            Unfortunately, boys are not allowed to participate as hackers during WiCHacks; however, we'd love to have you as a volunteer! You can register as a volunteer on the registration page found
            = succeed "." do
              %a{href: "https://docs.google.com/a/g.rit.edu/forms/d/1Bv_7v30WgLUKK5T5nLBEg5uMvsYfnSHdc7zvIOavdNk/edit"} here
            %a{href: "mailto:wic.hacks.rit@gmail.com"} wic.hacks.rit@gmail.com
            if you have further questions about male participation.
      %li.faq
        .faq-inner
          %h5 I am a high school girl.  Can I participate in this event?
          %p Yes! This event is open to students 16 years and older. If you're hesitant about not having programming experience, consider checking out our Newbie Track where you can learn how to program and still participate in the hackathon.
      %li.faq
        .faq-inner
          %h5 What should I bring to WiCHacks?
          %p Your laptop and charger. Additionally, all attendees are required to bring a valid photo ID for admission (name must match registration).  Lastly and most importantly, bring your willingness to learn, imagination, and excitment!
      %li.faq
        .faq-inner
          %h5 I have limited programming experience.  Should I still participate?
          %p Yes! It is okay to attend with little programming experience. WiCHacks will be offering workshops during the event to help students. Mentors will also be at the hackathon to assist teams who need help.
      %li.faq
        .faq-inner
          %h5 How can I learn more programming skills before this event?
          %p
            Check out our
            %a{href: "extras.php"} Extras
            page!
      %li.faq
        .faq-inner
          %h5 I do not have a team.  How can I find one?
          %p Don't worry, teams will be formed after the kick-off.
      %li.faq
        .faq-inner
          %h5 Can I work on an existing project?
          %p No, we require that you build from scratch during WiCHacks.  You may, however, use any publicly available APIs in your project.  We also encourage you to get familiar in advance with any programming languages, frameworks, APIs, etc. that you might wish to use in your project.
      %li.faq
        .faq-inner
          %h5 Is there housing available for this event?
          %p No, however we will provide a break room for hackers to rest away from the noise of the hackathon.
      %li.faq
        .faq-inner
          %h5 Is there transportation or travel reimbursement available for this event?
          %p
            There is no travel reimburstment, but we are providing buses to nearby universities and cities. You can find the avalible routes
            = succeed "." do
              %a{href: "https://www.sharethebus.com/events/wichacks-w17?outgoingCity=Troy%20-%20Rensselaer%20Polytechnic%20Institute&tripType=outgoingOneway"} here
      %li.faq
        .faq-inner
          %h5 Do I need a laptop for this event?
          %p
            You will maximize your experience if you have your own laptop; however, if you do not have a laptop that you could use for the duration of the event, please contact
            %a{href: "mailto:wic.hacks.rit@gmail.com"} wic.hacks.rit@gmail.com
            about laptop options.  Priority for laptops will be given to high schoolers.
      %li.faq
        .faq-inner
          %h5 Can parents attend the event?
          %p
            Unfortunately, parents may not attend the event.
            %a{href: "http://www.rit.edu/emcs/admissions/visit/schedule"} Here
            is information about scheduling an RIT visit.  If there is high interest, we may hold an RIT information session for parents at the beginning of the hackathon.  If you have an interest in this, please contact
            = succeed "." do
              %a{href: "mailto:wic.hacks.rit@gmail.com"} wic.hacks.rit@gmail.com
      %li.faq
        .faq-inner
          %h5 Where can parents stay for the event?
          %p
            Please reference the RIT Undergraduate Admissions website for
            = succeed "." do
              %a{href: "http://www.rit.edu/emcs/admissions/visit/info/area-hotels"} area hotel options
      %li.faq
        .faq-inner
          %h5 Who should parents contact in case of an emergency?
          %p
            RIT Campus Safety department handles all emergencies on campus.
            %br/
            AIM Instant Message: RITPublicSafety
            %br/
            Emergency number: 585.475.3333
            %br/
            Non-emergency number: 585.475.2853
            %br/
            %a{href: "http://finweb.rit.edu/publicsafety/safety"} RIT Public Safety Website
      %li.faq
        .faq-inner
          %h5 Do students have to stay the entire time?
          %p Students are strongly encouraged to stay for the entire event.
      /
        HIGH SCHOOL TEACHER FAQ<li class="faq">
        <div class="faq-inner">
        <h5>I am a high school teacher, and I would like to advertise WiCHacks to my students.  Are there any materials that I can use to do this?</h5>
        <p>Absolutely! You may find a poster about WiCHacks to hang or distribute as you see fit <a href="poster.pdf">here</a>.  Also, <a href="postcards.pdf">here</a> are postcard versions of the WIC Hacks poster.</p>
        </div>
        </li>END HIGH SCHOOL TEACHER FAQ
      %li.faq
        .faq-inner
          %h5 I am under the age of 16, but I would like to participate in WiCHacks.  Would this be possible?
          %p
            We will evaluate participation for girls under 16 years old on a case-by-case basis.  Please contact us at
            %a{href: "mailto:wic.hacks.rit@gmail.com"} wic.hacks.rit@gmail.com
            with your question.
      %li.faq
        .faq-innter
          %h5 How do I get to RIT?
          %p
            Directions to RIT can be found
            = succeed "." do
              %a{href: "http://www.rit.edu/emcs/admissions/visit/info/getting-to-rit"} here
          %li.faq
            .faq-inner
              %h5 My question is not answered here.  Who do I contact?
              %p
                Please contact
                %a{href: "mailto:wic.hacks.rit@gmail.com"} wic.hacks.rit@gmail.com
                for any additional information.
        #minors.divider
        .section
          %h2 Minors
          %p#minorsimp
            ***All minors must fill out the
            = succeed "." do
              %a{href: "../WiCHacks_Minor_Form.pdf"} minor           release form
          %p
            Rule for those under 18: RIT policy dictates that individuals under the age of 18 are not able to stay on the campus overnight. Individuals under the age of 18 are required to leave the premise by 12:00AM but may return by 6:00AM. Before leaving the premises, stop by the registration desk so that a WiCHacks volunteer can confirm your departure. We require that the parent/guardian picking you up have their contact information on the minor release form. For any questions, email us at
            = succeed "." do
              %a{href: "mailto:wic.hacks.rit@gmail.com"} wic.hacks.rit@gmail.com
        #sponsors.divider
        .section
          %h2 Sponsors
          %p
            %b Is your company interested in sponsoring WiCHacks?
            We would love to talk to you about sponsoring WiCHacks!  Opportunites for sponsorship are described
            = succeed "." do
              %a{href: "WiCHacks_SponsorLetter17.pdf"} here
            %a{href: "mailto:wic.hacks.rit@gmail.com"} wic.hacks.rit@gmail.com
            for more information.
      #partners.divider
      .section
        %h2 Partners
        %h3.centered Platinum
        .row
          .small-12.medium-12.columns.medium-uncentered.sponsor
            %a#intuit-logo{href: "https://www.intuit.com/"}
              /= image_tag "logos_2017/Intuit_logo.png", id: 'partner-1', alt: "Intuit logo"
        .row
          .small-6.medium-6.columns.medium-uncentered.sponsor
            %a#hubspot-logo{href: "https://www.hubspot.com/"}
              /= image_tag "logos_2017/Hubspot-logo.png", id: 'partner-2', alt: "Hubspot logo"
          .small-6.medium-6.columns.medium-uncentered.sponsor
            %a#redhat-logo{href: "https://www.redhat.com/en"}
              /= image_tag "logos_2017/red-hat-logo.png", id: 'partner-3', alt: "Red Hat logo"
        %h3.centered Gold
        .row
          .small-4.columns.centered.sponsor
            %a#libertymutual-logo{href: "https://www.libertymutual.com/"}
              /= image_tag "logos_2017/LibertyMutualLogo.png", id: 'partner-4', alt: "Liberty Mutual logo"
          .small-4.columns.centered.sponsor
            %a#newrelic-logo{href: "https://newrelic.com/"}
              /= image_tag "logos_2017/new-relic-logo.png", id: 'partner-5', alt: "New Relic logo"
          .small-4.columns.centered.sponsor
            %a#vitech-logo{href: "http://www.vitech.com/"}
              /= image_tag "logos_2017/vitech-logo.PNG", id: 'partner-7', alt: "Vitech logo"
        .row
          .small-4.columns.centered.sponsor
            %a#viacom-logo{href: "http://www.viacom.com/"}
              /= image_tag "logos_2017/viacom-logo.png", id: 'partner-6', alt: "Viacom logo"
          .small-4.columns.centered.sponsor
            %a#jpmorgan-logo{href: "https://www.jpmorgan.com/"}
              /= image_tag "logos_2017/JPMorgan-logo.png", alt: "JP Morgan logo"
        %h3.centered Silver
        .row
          .small-6.columns.centered.sponsor
            %a#bankofamerica-logo{href: "https://www.bankofamerica.com/"}
              /= image_tag "logos_2017/bofa-logo.jpg", id: 'partner-8', alt: "Bank of America logo"
          .small-6.columns.centered.sponsor
            %a#bankofamerica-logo{href: "https://www.constantcontact.com/"}
              /= image_tag "logos_2017/ctct-logo.jpg", id: 'partner-8', alt: "Constant Contact logo"
        %h3.centered Bronze
        .row
          .small-3.columns.small-uncentered.sponsor
            %a#blackbaud-logo{href: "https://www.blackbaud.com/"}
              /= image_tag "logos_2017/blackbaud-logo.png", id: 'partner-9', alt: "Blackbaud Logo"
          .small-3.columns.small-uncentered.sponsor
            %a#google-logo{href: "https://google.com/"}
              /= image_tag "logos_2017/Google-Logo-PNG.png", id: 'partner-10', alt: "Google Logo"
          .small-3.columns.small-uncentered.sponsor
            %a#amazon-logo{href: "https://www.amazon.com/"}
              /= image_tag "logos_2017/amazon-logo.png", id: 'partner-10', alt: "Amazon Logo"
          .small-3.columns.small-uncentered.sponsor
            %a#vvisions-logo{href: "http://vvisions.com/"}
              /= image_tag "logos_2017/vv-logo.png", id: 'partner-10', alt: "Vicarius Visions Logo"
        .row
          .small-6.medium-6.columns.medium-uncentered.sponsor
            %a#row-2{href: "http://www.rit.edu/gccis/"}
              = image_tag "lastyearlogos/partners/gccis.jpg", id: 'partner-11', alt: "GCCIS logo"
          .small-6.medium-6.columns.medium-uncentered.sponsor
            %a{href: "http://www.se.rit.edu/"}
              = image_tag "lastyearlogos/partners/se_logo.jpg", id: 'partner-12', alt: "SE logo"

      :javascript
        $(window).load(function() {
          // resize logos on page load
          resizeLogos();
          // resize logos on page resize
          $(window).resize(function () {
            resizeLogos();
          });
        });
        // resize logos (dependent on browser / screen width)
        function resizeLogos() {
          // if window is "medium" or "large"
          if ($(window).width() > 640) {
            $('[id^="partner-"],[id^="sponsor-"]').parent().css({
              height: "200px",
              display: "inline-block",
            });
            $('[id^="partner-"],[id^="sponsor-"]').css({
              "max-height": "160px",
            });
            // custom resizing
            $('#sponsor-3').parent().css({
              height: "170px"
            });
            $('#sponsor-4').css({
              width: "100px",
            });
            $('#sponsor-5').css({
              width: "150px"
            });
            $('#sponsor-6').css({
              width: "80px"
            });
            $('#sponsor-7').css({
              width: "175px",
            });
            $('#sponsor-8').css({
              width: "200px"
            });
            $('#sponsor-9').css({
              width: "250px"
            });
            $('#sponsor-10').css({
              width: "70px",
            });
            $('#sponsor-11').css({
              width: "70px"
            });
            $('#sponsor-12').css({
              width: "150px"
            });
            // images are vertically aligned
              $('[id^="partner-"],[id^="sponsor-"]').flexVerticalCenter();
            }
            // if window is "small"
            else {
              // make all logos the same width
              // add padding to all logos
              $('[id^="partner-"],[id^="sponsor-"]').css({
              width: "300px",
              padding: "1.5rem 0"
            });
            $('[id^="partner-"]').parent().css({
              height: "150px",
              display: "inline-block",
            });
            // custom resizing
            $('#sponsor-4').css({
              width: "60px"
            });
            $('#sponsor-5').css({
              width: "80px"
            });
            $('#sponsor-6').css({
              width: "50px"
            });
            $('#sponsor-7').css({
              width: "100px"
            });
            $('#sponsor-8').css({
              width: "130px"
            });
            $('#sponsor-9').css({
              width: "150px"
            });
            $('#sponsor-10').css({
              width: "50px",
            });
            $('#sponsor-11').css({
              width: "50px"
            });
            $('#sponsor-12').css({
              width: "120px"
            });
            /*$('#partner-4').css({
              height: "100px"
            });*/
            // images are vertically aligned
              $('[id^="partner-"],[id^="sponsor-"]').flexVerticalCenter();
            }
        }
