<!DOCTYPE html>
<html>
  <head>

    <title>WiCHacks | RIT Women in Computing</title>

    <!-- Import CSS -->
    <%= stylesheet_link_tag 'splash', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="container">

      <div class="social">
        <ul>
          <li><%= image_tag("social-facebook-logo.png", id:"facebook") %></li>
          <li><%= image_tag("social-twitter-logo.png", id:"twitter") %></li>
        </ul>
      </div>

      <div class="center" id="inner-content">

        <%= image_tag("wic-hacks-logo-white.png", id:"logo")%>

        <div>
            <h2>
              <ul class="date" id="month">
                <li>February</li>
                <li>10-12</li>
              </ul>
            </h2>
        </div>

        <div class="date" id="year">
            <h1>
                2017
            </h1>
        </div>

        <div id="info">
            <h3>
              <ul>
                <li>Coming soon</li>
                <li>Sign up for updates</li>
              </ul>
            </h3>
        </div>

      </div>

    </div>

    <%= image_tag("splash-pattern.png", class:"resize", id:"pattern") %>
    
  </body>
</html>
