<!DOCTYPE html>
<html>
  <head>
    <%
    title = "WiCHacks – Feb 10-11, 2018 – RIT Women in Computing"
    description = "All women's 24-hour hackathon @ RIT returning February 10-11, 2018!"
    url = "https://wichacks.io"
    %>

    <title><%= title %></title>

    <!-- Import CSS -->
    <%= stylesheet_link_tag 'splash', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Search engine & social media info -->
    <meta content="hackathons, hackathon, hack-a-thon, programming, hardware, development, design, rit, wic, women in computing" name="keywords"/>
    <meta content="<%= description %>" name="description"/>
    <meta content="<%= title %>" property="og:title"/>
    <meta content="<%= url %>" property="og:url"/>
    <meta content="website" property="og:type"/>
    <meta content="<%= description %>" property="og:description"/>
    <!-- <meta content="TODO..." property="og:image"/> -->
    <!-- <meta content="TODO..." property="og:image"/> -->
    <meta content="summary" name="twitter:card"/>
    <meta content="<%= url %>" name="twitter:url"/>
    <meta content="<%= title %>" name="twitter:title"/>
    <!-- <meta content="TODO..." name="twitter:image"/> -->
    <meta content="<%= description %>" name="twitter:description"/>
  </head>

  <body>
    <div class="container">

      <div class="social">
        <ul>
          <li><a href="http://wic.rit.edu"><%= image_tag("wic-hacks-logo-white-small.png", class:"wic") %></a></li>
          <li><a href="https://www.facebook.com/wic.hacks.rit"><%= image_tag("social-facebook-logo.png", class:"facebook") %></a></li>
          <li><a href="https://twitter.com/wichacks"><%= image_tag("social-twitter-logo.png", class:"twitter") %></a></li>
        </ul>
      </div>

      <div class="center inner-content">
        <div class="clear-fix">
          <%= image_tag("wic-hacks-logo-white-test.png", class:"logo box")%>

          <div class="date">
              <div class="box box--no-top-border month">
                <ul>
                  <li class="date date--more-spacing">February</li>
                  <li>10-11</li>
                </ul>
              </div>
              <div class="box box--no-top-border box--no-left-border year">
                <h1>2018</h1>
              </div>
          </div>
        </div>

        <div class="info clear-fix">
            <h3>
              <ul>
                <li class="box box--no-bottom-border">Coming soon</li>
                <li class="box"><a class="white-link" href="https://docs.google.com/forms/d/1m9iiJHQfPDUsvzSHVKbVS4ROC8WTn_kIe1qYK5D0mAo/viewform">Sign up for updates »</a></li>
                <li></li>
                <li class="box box--thin info-text--small"><%= link_to 'Interested in Sponsoring?', image_path('WiCHacksSponsorLetter18.pdf'), class: 'white-link' %></li>
              </ul>
            </h3>
        </div>

      </div>

    </div>

    <div class="pattern"></div>

    <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:50px;position:fixed;right:20px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/na-2018/events?utm_source=na-2018&utm_medium=TrustBadge&utm_campaign=na-2018&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/white.svg" alt="Major League Hacking 2018 Hackathon Season" style="width:100%"></a>
  </body>
</html>
