<!DOCTYPE html>
<html>
  <head>

    <title>WiCHacks | RIT Women in Computing</title>

    <!-- Import CSS -->
    <%= stylesheet_link_tag 'splash', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>

  <body>
    <div id="container">

      <div class="social">
        <ul>
          <li><a href="http://wic.rit.edu"><%= image_tag("wic-hacks-logo-white-small.png", id:"wic") %></a></li>
          <li><a href="https://www.facebook.com/wic.hacks.rit"><%= image_tag("social-facebook-logo.png", id:"facebook") %></a></li>
          <li><a href="https://twitter.com/wichacks"><%= image_tag("social-twitter-logo.png", id:"twitter") %></a></li>
        </ul>
      </div>

      <div class="center" id="inner-content">
        <div class=clear-fix>
          <%= image_tag("wic-hacks-logo-white-test.png", id:"logo", class: "box")%>

          <div class="date">
              <h2>
                <ul class="date box box--no-top-border" id="month">
                  <li class="date date--more-spacing">February</li>
                  <li>10-12</li>
                </ul>
              </h2>
              <div class="box box--no-top-border box--no-left-border" id="year">
                <h1>2017</h1>
              </div>
          </div>
        </div>

        <div id="info" class="clear-fix">
            <h3>
              <ul>
                <li class="box box--no-bottom-border">Coming soon</li>
                <li class="box"><a class="white-link" href="https://docs.google.com/forms/d/1m9iiJHQfPDUsvzSHVKbVS4ROC8WTn_kIe1qYK5D0mAo/viewform">Sign up for updates</a></li>
              </ul>
            </h3>
        </div>

      </div>

    </div>

    <div class="pattern"></div>

  </body>
</html>
