<%
title = "WiCHacks – Feb 10-11, 2018 – RIT Women in Computing"
description = "All women's 24-hour hackathon @ RIT returning February 10-11, 2018!"
url = "https://wichacks.io"
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width" />

  <title><%= title %></title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Search engine & social media info -->
  <meta content="hackathons, hackathon, hack-a-thon, programming, hardware, development, design, rit, wic, women in computing" name="keywords"/>
  <meta content="<%= description %>" name="description"/>
  <meta content="<%= title %>" property="og:title"/>
  <meta content="<%= url %>" property="og:url"/>
  <meta content="website" property="og:type"/>
  <meta content="<%= description %>" property="og:description"/>
  <!-- <meta content="TODO..." property="og:image"/> -->
  <!-- <meta content="TODO..." property="og:image"/> -->
  <meta content="summary" name="twitter:card"/>
  <meta content="<%= url %>" name="twitter:url"/>
  <meta content="<%= title %>" name="twitter:title"/>
  <!-- <meta content="TODO..." name="twitter:image"/> -->
  <meta content="<%= description %>" name="twitter:description"/>

  <% if Rails.env.production? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110114712-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-110114712-1');
  </script>
  <% end %>
</head>
<body>
  <div class="sticky" id="sticky-menu">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">WiCHacks</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="/#about">About</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="/#about">About WiCHacks</a></li>
              <li class="divider"></li>
              <li><a href="/#press">Press</a></li>
              <li class="divider"></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a href="/#schedule">Schedule</a></li>
          <li class="divider"></li>
          <li><a href="/#faqs">FAQs</a></li>
          <li class="divider"></li>
          <li><a href="/#sponsors">Sponsors + Partners</a></li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="extras.php">Extras</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="extras.php#resources">Learn-To-Code Resources</a></li>
              <li class="divider"></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="register"><a href="https://docs.google.com/forms/d/1EHgpl1g3U0VyfncGIO2OzPtxvENd4LzkJ_yln9IJ35Q/viewform">Keep Me Posted!</a></li>
          <li class="divider"></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li>
            <a href="http://facebook.com/wic.hacks.rit">
              <i class="fi-social-facebook menu-symbol"></i>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="https://twitter.com/wichacks">
              <i class="fi-social-twitter menu-symbol"></i>
            </a>
          </li>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>

    </div>

  <!-- Twiter 'Follow' button -->
  <!--<div class="twitter-follow">
  <a href="https://twitter.com/wichacks" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @wichacks</a>
  </div>-->

  <!-- Facebook 'Like' button -->
  <!--<div class="fb-like" data-href="https://www.facebook.com/wic.hacks.rit" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>-->

  <script>
    $(window).load(function() {
      toggleSocialMedia();
      $(window).resize(function () {
        toggleSocialMedia();
      });
    // Facebook 'like' script
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // Twitter 'follow' script
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  });
    function toggleSocialMedia() {
      var twitter =
      '<div class="twitter-follow">' +
      '<a href="https://twitter.com/wichacks" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @wichacks</a>' +
      '</div>';
      var facebook =
      '<div class="fb-like" data-href="https://www.facebook.com/wic.hacks.rit" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>';
    // "medium" or "large" screen
    if ($(window).width() > 640) {
      if ( $(".twitter-follow").length <= 0) {
        $("#sticky-menu").append(twitter);
      }
      if ( $(".fb-like").length <= 0) {
        $("#sticky-menu").append(facebook);
      }
    }
    // "small" screen
    else {
      $(".twitter-follow").remove();
      $(".fb-like").remove();
    }
  }
  </script>

  <div id="fb-root"></div>

  <%= yield %>

</body>
</html>
