<%
title = "WiCHacks – Feb 29-Mar 1, 2020 – RIT Women in Computing"
description = "All women's 24-hour hackathon @ RIT returning Feb 29-Mar 1, 2020!"
url = "https://wichacks.io"
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width" />

  <title><%= title %></title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700" rel="stylesheet">

  <!-- Search engine & social media info -->
  <meta content="hackathons, hackathon, hack-a-thon, programming, hardware, development, design, rit, wic, women in computing" name="keywords"/>
  <meta content="<%= description %>" name="description"/>
  <meta content="<%= title %>" property="og:title"/>
  <meta content="<%= url %>" property="og:url"/>
  <meta content="website" property="og:type"/>
  <meta content="<%= description %>" property="og:description"/>
  <meta content="<%= image_url 'banner-3.jpg' %>" property="og:image"/>
  <meta content="<%= image_url 'banner-1.jpg' %>" property="og:image"/>
  <meta content="<%= image_url 'banner-2.jpg' %>" property="og:image"/>
  <meta content="summary" name="twitter:card"/>
  <meta content="<%= url %>" name="twitter:url"/>
  <meta content="<%= title %>" name="twitter:title"/>
  <meta content="<%= image_url 'banner-1.jpg' %>" name="twitter:image"/>
  <meta content="<%= description %>" name="twitter:description"/>

  <link rel="apple-touch-icon" sizes="57x57" href="<%= image_url 'favicon/apple-icon-57x57.png' %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_url 'favicon/apple-icon-60x60.png' %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_url 'favicon/apple-icon-72x72.png' %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_url 'favicon/apple-icon-76x76.png' %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_url 'favicon/apple-icon-114x114.png' %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_url 'favicon/apple-icon-120x120.png' %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= image_url 'favicon/apple-icon-144x144.png' %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_url 'favicon/apple-icon-152x152.png' %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_url 'favicon/apple-icon-180x180.png' %>">
  <link rel="icon" type="image/png" sizes="192x192"  href="<%= image_url 'favicon/android-icon-192x192.png' %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_url 'favicon/favicon-32x32.png' %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= image_url 'favicon/favicon-96x96.png' %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_url 'favicon/favicon-16x16.png' %>">
  <link rel="manifest" href="<%= image_url 'favicon/manifest.json' %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= image_url 'favicon/ms-icon-144x144.png' %>">
  <meta name="theme-color" content="#ffffff">

  <% if Rails.env.production? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110114712-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-110114712-1');
  </script>
  <% end %>
</head>
<body>
  <div id="nav" class="nav">
    <div class="nav__section nav__section--left">
      <a class="nav__link" href="/#about" data-turbolinks="false">About</a>
      <a class="nav__link" href="/#info" data-turbolinks="false">Info</a>
      <!-- <a class="nav__link" href="/#schedule" data-turbolinks="false">Schedule</a>-->
      <a class="nav__link" href="/#faq" data-turbolinks="false">FAQ</a>
      <a class="nav__link" href="/#sponsors" data-turbolinks="false">Sponsors</a>
      <!--<a class="nav__link" href="https://goo.gl/forms/FQ2cdBJw4T0eNIsL2" data-turbolinks="false">Volunteer</a>
        <a class="nav__link" href="https://bit.ly/WiCHacksMentor2019" data-turbolinks="false">Mentor</a>-->
    </div>
    <div class="nav__section nav__section--right">
      <a class="nav__link nav__link--facebook nav__link--tight" href="https://www.facebook.com/wic.hacks.rit/">Facebook</a>
      <a class="nav__link nav__link--twitter nav__link--tight" href="https://twitter.com/wichacks?lang=en">Twitter</a>
      <a class="nav__link nav__link--wic nav__link--tight" href="http://wic.rit.edu">WiC</a>
    </div>
  </div>

  <%= yield %>

<!--badge-->
</body>
</html>
